@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1100px) {
  .feed-show {
    display: block;
  }
  .menu-button {
    display: none;
  }
  .add-button-show {
      display: none;
  }
  .dot-button-show {
      display: flex;
  }
}
