@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1100px) {
  .feed-show {
    display: block;
  }
  .menu-button {
    display: none;
  }
  .add-button-show {
      display: none;
  }
  .dot-button-show {
      display: flex;
  }
}
@media (min-width: 900px) {
  .sponsored-show {
    display: block;
  }
}
.show{
  display: none;
}
.hide:hover .show{
  display: flex;
  transition-duration: 200ms;
}
.min-w27{
  min-width: 25%;
}
.w30{
  max-width: 27%;
}
